.cartBtn{
    cursor: pointer;
    background-color: #8a2b06;
    border: none;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    font: inherit;
    font-weight: bold;
    animation: nav-cart-btn 1s ease-in-out forwards;
}

@keyframes nav-cart-btn {
    from{
        transform: translateX(5rem);
    }
    to{
        transform: translateX(0);
    }
}


.cartIcon{
    height: 30px;
    width: 25px;
}

.cartIconWrapper{
    margin-right: 3px;
}
.cartBtnBadge{
    margin-bottom: 30px;
    color: #A73E1F;
    background-color: white;
    padding: 0.15rem 0.5rem;
    border-radius: 300px;
}

.cartBtn:disabled,
.cartBtn:focus:disabled,
.cartBtn:hover:disabled,
.cartBtn:active:disabled {
    cursor: not-allowed;
}



.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
